* {
    margin: 0;
    padding: 0;
}
body {
    background-color: skyblue;
    width: 99%;
}
#book-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px;
}

.book {
    background-color: white;
    box-shadow: 2px 2px 10px black;
    padding:  20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
}
.book > * {
    margin: 10px;
}
.book h1 {
    font-size: 20px;
}
.book h2 {
    font-size: 15px;
}
.book h3 {
    font-size: 15px;
}


/* user create form */
form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    width: calc(100% / 3);
    margin: 0 auto;
    justify-content: center;
}
h1 {
    text-align: center;
}

#loadnavbar {
    height: 10vh;
    width: 100vw;
    background-color: skyblue;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style: none;
    text-decoration: none;
}
li a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 18px;
}
li a:hover {
    color: blue;
}