<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-book</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/add_book.js"></script>
    <script src="../js/nav.js" defer></script>
</head>

<body>
    <section class="page">

        <header>
            <h1>Books DB</h1>
            <nav id="loadnavbar"></nav>
        </header>

        <h1>Add book</h1>

        <form id="add_book">

            <section>
                <label for="bookTitle">Book Title</label>
                <input type="text" name="bookTitle" id="bokTitle" required placeholder="Book Title" pattern="^[a-zA-Z ,]{1,38}$" minlength="2" maxlength="38">
                <div class="error-div">Must contain only normal characters and between 1 and 19 characters long</div>
            </section>

            <section>
                <label for="originalTitle">Original Title</label>
                <input type="text" name="originalTitle" id="originalTitle" required pattern="^[a-zA-Z ,]{1,38}$"
                    minlength="2" maxlength="38" placeholder="OriginalTitle">
                <div class="error-div">Must contain only normal characters and between 1 and 19 characters long</div>
            </section>

            <section>
                <label for="yearofPublication">Year of Publication</label>
                <input type="text" name="yearofPublication" placeholder="Year of Publication" id="yearofPubliation"
                    pattern="^[0-9]{4}$" required>
                <div class="error-div">Date format must be full year example: "2021"</div>
            </section>

            <section>
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre" required pattern="^[a-zA-Z ]{1,19}$" minlength="2"
                    maxlength="19" placeholder="Genre">
                <div class="error-div">Must contain only normal characters and between 1 and 19 characters long</div>
            </section>

            <section>
                <label for="millionsSold">Millions Sold</label>
                <input type="text" name="millionsSold" id="millionsSold" pattern="^[1-9][0-9]{0,4}$" required
                    placeholder="Millions Sold">
                <div class="error-div">Number cannot start with a 0 and is only allowed upto 5 digits</div>
            </section>

            <section>
                <label for="langugageWritten">Language Written</label>
                <input type="text" name="languageWritten" placeholder="Language written" id="languageWritten"
                    pattern="^[a-zA-Z ]{1,19}$" required>
                <div class="error-div">Must contain only normal characters and between 1 and 19 characters long</div>
            </section>

            <section>
                <label for="coverImagePath">Cover Image</label>
                <select name="coverImagePath" id="coverimagepath">
                    <option value="">Select...</option>
                </select>
                <div class="error-div">Please select an Image to use for the book</div>
            </section>

            <section>
                <label for="author">Author:</label>
                <select name="authorID" id="author" required>
                    <option value="">Select....</option>
                </select>
                <div class="error-div">Please select the correct Author</div>
            </section>

            <input type="text" name="userID" id="userID" readonly hidden>
            <input type="text" name="bookID" id="bookID" readonly hidden>

            <label for="submit">Submit</label>
            <input type="submit" name="submit" onclick="postAddBook()" id="submit">
        </form>

    </section>

    <section>
        <nav id="loadfooter"></nav>
    </section>


</body>

</html>