<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/delete_author.js" defer></script>
    <script src="../js/nav.js" defer></script>
</head>

<body>
    <section class="page">

    <header>
        <h1>Books DB</h1>
        <nav id="loadnavbar"></nav>
    </header>
    <h1>Delete Author</h1>

    <form id="delete-author-form">

        <input type="text" name="authorID" id="authorID">

        <label for="name">Author Name</label>
        <input type="name" name="name" id="name">
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname">
        <label for="nationality">nationality</label>
        <input type="text" name="nationality" id="nationality">
        <label for="birthYear">Birth Year</label>
        <input type="text" name="birthYear" id="birthYear">
        <label for="deathYear">Death year</label>
        <input type="text" name="deathYear" id="deathYear">
        <label for="submit">submit</label>
        <input type="button" value="Delete" onclick="deleteAuthor()">

    </form>

    </section>
    
    <section>
        <nav id="loadfooter"></nav>
    </section>

</body>

</html>